@model Bookstore_AspDotNET_MVC.DTO.BookPagineDTO

@{
    ViewData["Title"] = "BookManager";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>BookManager</h1>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-1 border-bottom position-relative">
    <div class="m-2">
        <button type="button" class="btn btn-success btn__add--book">
            <i class="fas fa-plus"></i> Add new</i>
        </button>
    </div>


</div>

<!-- TABLE VIEW -->
<div class="table-responsive rounded-top rounded-bottom">
    <table class="table table-bordered" id="myTable">
        <thead>
            <tr class="table-warning">
                <th scope="col">
                   ID
                </th></th>
                <th scope="col">
                    Name
                </th>
                <th style=" width:15%" scope="col">Picture</th>
                <th style=" width:15%" scope="col">
                    Price
                </th>
                <th style=" width:15%" scope="col">
                    Total Quantity
                </th>
                <th class="align-middle" style=" width:10%;" scope="col">Alter</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Books)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdBook)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td class="align-middle text-center">
                    <img style="height:120px;width:auto;" class="card-img-top " src=@item.Picture
                         alt="Card image cap">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) VNĐ
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TotalQuantity)
                </td>

                <td class="align-middle text-center">
                    <button type="button" class="btn btn-warning m-1 btn__edit--book" asp-action="Edit" asp-route-id="@item.IdBook">
                        <i class="far fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn__delete--book" asp-action="Delete" asp-route-id="@item.IdBook">
                        <i style="color:black;" class="far fa-trash-alt"></i>
                    </button>
                </td>
            </tr>}
        </tbody>
    </table>


   @if (Model.PageCount > 1) { 
    
    <div class="row col-sm-10">
        <div class="col-sm-2">
            Total Items: @Model.PageCount
        </div>
        @if (Model.CurrentPageIndex > 1)
        {
            <a class="page-links btn btn-outline-primary" asp-controller="BookManager" asp-action="Index" asp-route-currentPageIndex="1">First</a>

        }
        else
        {
            <span class="btn btn-outline-primary active">First</span>
        }&nbsp; &nbsp;

        @for (int i = 1; i <= Model.PageCount; i++)
        {
            @if (Model.CurrentPageIndex != i)
            {
                <a class="page-links btn btn-outline-primary"asp-controller="BookManager" asp-action="Index" asp-route-currentPageIndex="@i">@i</a>

            }
            else
            {
                <span class="btn btn-outline-primary active">@i</span>

            }
        }

        @if (Model.CurrentPageIndex < Model.PageCount)
        {
            <a class="page-links btn btn-outline-primary" asp-controller="BookManager" asp-action="Index" asp-route-currentPageIndex="@(Model.CurrentPageIndex+1)">Next</a>

        }
        else
        {
            <span class="btn btn-outline-primary active" >Next </span>

        }&nbsp; &nbsp;

        @if (Model.CurrentPageIndex < Model.PageCount)
        {
            <a class="page-links btn btn-outline-primary"  asp-controller="BookManager" asp-action="Index" asp-route-currentPageIndex="@Model.PageCount">Last</a>

        }
        else
        {
            <span class="btn btn-outline-primary active">Last</span>

        }&nbsp; &nbsp;

    </div>
     }
</div>
