@using System.Globalization;
@model Bookstore_AspDotNET_MVC.DTO.BookPagineDTO

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/book.css" />
<link rel="stylesheet" href="~/css/sliderStyle.css" />
<!--Slick Carousel Slider-->
<link rel="stylesheet" type="text/css" href="~/css/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/css/slick/slick-theme.css" />
<!-- ======================================INTRO====================================== -->
<div class="row intro">
    <div class="col c-3 category">
        <div class="category__title "> Danh mục sách </div>
        <div class="category__item">
            <ul class="nav flex-column">
                @foreach (var category in ViewBag.listCategory)
                {
                    <li>
                        <a class="nav-link" asp-action="GetBookSameCategory" asp-controller="Book" asp-route-idCategory="@category.CategoryId">@category.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col c-9 slider">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="slideshow-container">
                <div class="mySlider fade">
                    <img class="image-slider" src="~/image/background1.jpg" />
                </div>
                <div class="mySlider fade">
                    <img class="image-slider" src="~/image/background2.jpg" />
                </div>
                <div class="mySlider fade">
                    <img class="image-slider" src="~/image/background3.jpg" />
                </div>
            </div>
            <div class="slider-controll">
                <span class="dot" onclick="currentSlider(1)"></span>
                <span class="dot" onclick="currentSlider(2)"></span>
                <span class="dot" onclick="currentSlider(3)"></span>
            </div>
        </div>
    </div>
</div>

<!--====================================== POSTER SALE OFF====================================== -->
<div class="row poster">
    <img class="poster-img" src="~/image/poster-sale-off.png">
</div>

<!-- ===============================SLIDER SLICK TOP BUY====================================== -->
<div class="row topbuy card">
    <div class="card-caption ">
        <img src="~/image/ico_dealhot.png">&ensp;
        <strong>SÁCH ĐƯỢC YÊU THÍCH</strong>
    </div> <br>
    <div class="items row">
        @foreach (var topBook in ViewBag.listTopBuy)
        {
            <div class="col c-3 m-4 items-wrap">
                <a class="itemside border" asp-controller="Book" asp-action="ProductDetail" asp-route-id="@topBook.IdBook">
                    <span class="aside text-center">
                        <img src=@topBook.Picture class="img-sm">
                    </span>
                    <span class="info">
                        <span class="title" id="book-name">
                            @topBook.BookName <br>
                            <span class="text-muted">@topBook.IdAuthorNavigation.AuthorName </span>
                        </span>
                        <span class="text-danger font-weight-bold" id="book-price"> @(String.Format(CultureInfo.InvariantCulture, "{0:0,0}", @topBook.Price)) đ</span>
                    </span>
                </a>
            </div>
        }
    </div>
</div>

<!-- ==============================TOP NEW BOOK ======================================-->
<div class="row topnew card">
    <div class="card-caption">
        <img src="~/image/New-icon.png">&ensp;
        <strong>SÁCH MỚI</strong>
    </div>

    <div class="card-body c-12">
        <ul class="row items-wrap">
            @foreach (var newBook in ViewBag.listTopNew)
            {
                <li class="col l-2-4 m-3">
                    <a  class="itemside border" asp-controller="Book" asp-action="ProductDetail" asp-route-id="@newBook.IdBook">
                        <span class="aside text-center">
                            <img src=@newBook.Picture class="img-sm">
                        </span>
                        <span class="info">
                            <span class="title" id="book-name">
                                @newBook.BookName <br>
                                <span class="text-muted">@newBook.IdAuthorNavigation.AuthorName</span>
                            </span>
                            <span class="text-danger font-weight-bold" id="book-price">@(String.Format(CultureInfo.InvariantCulture, "{0:0,0}", @newBook.Price)) đ</span>
                        </span>
                    </a> <br>
                </li>

            }
        </ul>
    </div>
</div>

<!-- ======================================PRODUCT CARDS ======================================-->
<div class="row card product">
    <div class="card-caption ">
        <img src="~/image/icon-goi-y.png">&ensp;
        <strong>GỞI Ý HÔM NAY</strong>
    </div>
    <div class="card-body c-12">
        <ul class="row items-wrap">
            @foreach (var book in Model.Books)
            {
                <li class="col m-3 l-2-4">
                    <a class="itemside border" asp-controller="Book" asp-action="ProductDetail" asp-route-id="@book.IdBook">
                        <span class="aside text-center">
                            <img src=@book.Picture class="img-sm">
                        </span>
                        <span class="info">
                            <span class="title" id="book-name">
                                @book.BookName <br>
                                <span class="text-muted">@book.IdAuthorNavigation.AuthorName</span>
                            </span>
                            <span class="text-danger" id="book-price">@(String.Format(CultureInfo.InvariantCulture, "{0:0,0}", @book.Price)) đ</span>
                        </span>
                    </a> <br>
                </li>

            }


        </ul>
    </div>
</div>

<!-- ======================================pagination====================================== -->
<div class="row ">
    <ul class="pagination c-12">
        <li class="page-item">
            @if (Model.CurrentPageIndex > 1)
            {
                <a class="page-item_btn" asp-controller="Book" asp-action="Home" asp-route-currentPageIndex="1">First</a>
            }
            else
            {
                <span class="page-item_btn active">First</span>
            }

        </li>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item">
                @if (Model.CurrentPageIndex != i)
                {
                    <a class="page-item_btn" asp-controller="Book" asp-action="Home" asp-route-currentPageIndex="@i">@i</a>


                }
                else
                {
                    <span class="page-item_btn active">@i</span>

                }
            </li>

        }

        <li class="page-item">
            @if (Model.CurrentPageIndex < Model.PageCount)
            {
                <a class="page-item_btn" asp-controller="Book" asp-action="Home" asp-route-currentPageIndex="@Model.PageCount">Last</a>
            }
            else
            {
                <span class="page-item_btn active">Last</span>
            }
        </li>
    </ul>
</div>



<script src="~/js/mySlider.js" asp-append-version="true"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.items').slick({
            slidesToShow: 4,
            slidesToScroll: 4,
            autoplay: true,
            autoplaySpeed: 2000,
        });
    });
</script>