@model Bookstore_AspDotNET_MVC.DTO.BookPagineDTO

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/sliderStyle.css" />
<!--Slick Carousel Slider-->
<!-- ======================================INTRO====================================== -->
<div class="row intro">
    <div class="col c-3 category">
        <div class="category__title "> Danh mục sách </div>
        <div class="category__item">
            <ul class="nav flex-column">
                @foreach (var category in ViewBag.listCategory)
                {
                    <li>
                        <a class="nav-link" asp-action="Category" asp-controller="Home" asp-route-idCategory="@category.CategoryId">@category.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col c-9 slider">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="slideshow-container">
                <div class="mySlider fade">
                    <img class="image-slider" src="~/image/background1.jpg" />
                </div>
                <div class="mySlider fade">
                    <img class="image-slider" src="~/image/background2.jpg" />
                </div>
                <div class="mySlider fade">
                    <img class="image-slider" src="~/image/background3.jpg" />
                </div>
            </div>
            <div class="slider-controll">
                <span class="dot" onclick="currentSlider(1)"></span>
                <span class="dot" onclick="currentSlider(2)"></span>
                <span class="dot" onclick="currentSlider(3)"></span>
            </div>
        </div>
    </div>
</div>

<!--====================================== POSTER SALE OFF====================================== -->
<div class="row poster">
    <img class="poster-img" src="~/image/poster-sale-off.png">
</div>

<!-- ===============================SLIDER SLICK TOP BUY====================================== -->
<div class="row card topbuy" style="align-items: center;">
    <div class="font-weight-bold w-100 p-2">
        <img style="width: 30px; height: auto" src="~/image/ico_dealhot.png">&ensp;
        <strong>SÁCH ĐƯỢC YÊU THÍCH</strong>
    </div> <br>
    <div class="items">
        @foreach(var topBook in ViewBag.listTopBuy)
         {
            <div class="col-md-4 col-lg-3 wow bounceIn mb-3" style="height: 280px;min-width: 250px">
                <a href="#" class="itemside border">
                    <span class="aside text-center">
                        <img src=@topBook.Picture class="img-sm">
                    </span>
                    <span class="info">
                        <span class="title" id="book-name">
                            @topBook.BookName <br>
                            <span class="text-muted">@topBook.IdAuthorNavigation.AuthorName </span>
                        </span>
                        <span class="text-danger font-weight-bold" id="book-price">@topBook.Price</span>
                    </span>
                </a>
            </div>
        }
    </div>
</div>





<script src="~/js/mySlider.js" asp-append-version="true"></script>