@model Bookstore_AspDotNET_MVC.DTO.BookPagineDTO

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/sliderStyle.css" />
<!--Slick Carousel Slider-->
<link rel="stylesheet" type="text/css" href="~/css/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/css/slick/slick-theme.css" />
<!-- ======================================INTRO====================================== -->
<div class="row intro">
    <div class="col c-3 category">
        <div class="category__title "> Danh mục sách </div>
        <div class="category__item">
            <ul class="nav flex-column">
                @foreach (var category in ViewBag.listCategory)
                {
                    <li>
                        <a class="nav-link" asp-action="Category" asp-controller="Home" asp-route-idCategory="@category.CategoryId">@category.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col c-9 slider">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="slideshow-container">
                <div class="mySlider fade">
                    <img class="image-slider" src="~/image/background1.jpg" />
                </div>
                <div class="mySlider fade">
                    <img class="image-slider" src="~/image/background2.jpg" />
                </div>
                <div class="mySlider fade">
                    <img class="image-slider" src="~/image/background3.jpg" />
                </div>
            </div>
            <div class="slider-controll">
                <span class="dot" onclick="currentSlider(1)"></span>
                <span class="dot" onclick="currentSlider(2)"></span>
                <span class="dot" onclick="currentSlider(3)"></span>
            </div>
        </div>
    </div>
</div>

<!--====================================== POSTER SALE OFF====================================== -->
<div class="row poster">
    <img class="poster-img" src="~/image/poster-sale-off.png">
</div>

<!-- ===============================SLIDER SLICK TOP BUY====================================== -->
<div class="row topbuy card">
    <div class="topbuy-caption ">
        <img src="~/image/ico_dealhot.png">&ensp;
        <strong>SÁCH ĐƯỢC YÊU THÍCH</strong>
    </div> <br>
    <div class="items row">
        @foreach (var topBook in ViewBag.listTopBuy)
        {
            <div class="col c-3 items-wrap">
                <a href=@topBook.IdBook class="itemside border">
                    <span class="aside text-center">
                        <img src=@topBook.Picture class="img-sm">
                    </span>
                    <span class="info">
                        <span class="title" id="book-name">
                            @topBook.BookName <br>
                            <span class="text-muted">@topBook.IdAuthorNavigation.AuthorName </span>
                        </span>
                        <span class="text-danger font-weight-bold" id="book-price">@topBook.Price</span>
                    </span>
                </a>
            </div>
        }
    </div>
</div>





<script src="~/js/mySlider.js" asp-append-version="true"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.items').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
        });
    });
</script>