<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" sizes="32x32" href="~/image/icon-book-shop-64.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Admin/AdminStyle.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <div>
            <nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
                <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
                    <img style="max-height: 30px;" alt="book-store" src="~/image/icon-book-shop-64.png">
                    Book store
                </a>

                <div class="input-group col-sm-6 col-md-5">
                    <!-- find book -->
                    <form class="form-inline col-md-12">
                        <input class="form-control col-md-10" type="search" placeholder="Search" aria-label="Search" name="searchvalue">
                        <button class="btn btn-secondary" type="submit" style="color: white">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>



                <ul class="navbar-nav px-3">
                    <li class="nav-item text-nowrap d-flex align-items-center">
                        <a class="nav-link text-light mr-4" style="font-size: 25px" ><i class="far fa-user-circle"></i></a>
                        <a class="nav-link text-light mr-1" style="font-size: 25px; " asp-area="" asp-controller="Auth" asp-action="Logout">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </li>
                </ul>




            </nav>

            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
                <span data-feather="home"></span>
            </button>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">

            <!-- ================= NAVIGATION =================== -->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column nav-style" style="font-size:1rem;">
                        <li class="nav-item">
                            <a class="nav-link @ViewData["Statistict"]" asp-controller="Statistict" asp-action="Index">
                                <i class="fas fa-chart-area mr-2"></i>Statistics
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @ViewData["Book"]" asp-controller="BookManager" asp-action="Index">
                                <i class="fas fa-book mr-2"></i>Books
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @ViewData["Order"]" asp-controller="OrderManager" asp-action="Index">
                                <i class="fas fa-shopping-cart mr-2"></i>Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @ViewData["Review"]" asp-controller="ReviewManager" asp-action="Index">
                                <i class="far fa-comments mr-2"></i>Reviews
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @ViewData["Discount"]" asp-controller="DiscountManager" asp-action="Index">
                                <i class="fas fa-percent  mr-2"></i>Discount
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @ViewData["Account"]" asp-controller="AccountManager" asp-action="Index">
                                <i class="fas fa-users mr-2"></i>Customers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fas fa-address-book mr-2"></i>Book author
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fas fa-th-list mr-2"></i>Book category
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fas fa-building mr-2"></i>Book publisher
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>


            <!-- ===================MAIN CONTENT=================== -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 position-relative">
                @RenderBody()
            </main>



        </div>
        
        <footer class="border-top footer text-muted">
            <div class="container invisible">
                &copy; 2022 - Bookstore_AspDotNET_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
        
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
