@using System.Globalization;
@model IEnumerable<Bookstore_AspDotNET_MVC.DTO.BookDTO>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/book.min.css" />

<div class="row topnew card">
    <div class="card-caption">
        <i class="fas fa-search"></i>&ensp;
        <strong>@ViewData["Title"]</strong>
    </div>

    <div class="card-body c-12">
        <ul class="row items-wrap">
            @foreach (var book in Model)
            {
                <li class="col l-2-4 m-3">
                    <a class="itemside border" asp-controller="Book" asp-action="ProductDetail" asp-route-id="@book.IdBook">
                        <span class="aside text-center">
                            <img src=@book.Picture class="img-sm">
                        </span>
                        <div class="info">
                            <p class="title" id="book-name">@book.BookName</p>
                            <span class="text-muted">@book.AuthorName</span><br />
                            @if (book.priceDiscount > 0)
                            {
                                <span class="text-muted price-old">@(String.Format(CultureInfo.InvariantCulture, "{0:0,0}", book.Price)) đ</span>

                                <span class="text-danger font-weight-bold" id="book-price">@(String.Format(CultureInfo.InvariantCulture, "{0:0,0}", book.Price - book.Price* book.priceDiscount/100)) đ</span>
                            }
                            else
                            {
                                <span class="text-danger font-weight-bold" id="book-price">@(String.Format(CultureInfo.InvariantCulture, "{0:0,0}", book.Price)) đ</span>
                            }
                        </div>
                    </a> <br>
                </li>

            }
        </ul>
            @if (Model.Count() == 0) { 
                <strong>Trống</strong><br/><br /><br /><br /><br /><br /><br /><br />
            }
    </div>
</div>