@using System.Globalization;
@model Bookstore_AspDotNET_MVC.Models.Order;

@{
    ViewData["Title"] = "OrderDetail";
    Layout = null;
}
<link rel="stylesheet" href="~/css/Admin/Order.css" />
<header class="card-header"> Chi tiết đơn hàng</header>
<div class="card-body">
    <h6>
        Mã đơn hàng: <span id="order-id">@Model.OrderId</span>
    </h6>
    <article class="card">
        <div class="card-body row">
            <div class="col">
                <strong>Khách hàng:</strong> <br> <span id="order-status">@Model.NameOfCustomer | @Model.PhoneOfCustomer</span>
            </div>
            <div class="col">
                <strong>Thời gian:</strong> <br> <span id="order-day">@Model.OrderDay</span>
            </div>
            <div class="col">
                <strong>Đơn vị giao:</strong> <br> Trường Express | <i class="fa fa-phone"></i> <span> +171.162.236</span>
            </div>
        </div>
    </article>
    <div class="track">
        <div class="ready step active">
            <span class="icon ">
                <i class="fa fa-box"></i>
            </span> <span class="text">Chờ xác nhận</span>
        </div>
        @if (Model.OrderStatus >= 1)
        {
            <div class="confirm step active">
                <span class="icon">
                    <i class="fa fa-check"></i>
                </span> <span class="text">Đã duyệt</span>
            </div>
        }
        else if (Model.OrderStatus < 1)
        {
            <div class="confirm step">
                <span class="icon">
                    <i class="fa fa-check"></i>
                </span> <span class="text">Đã duyệt</span>
            </div>
        }
        else if (Model.OrderStatus == 4 && Model.OrderStatus >= 1)
        {
            <div class="done step active">
                <span class="icon">
                    <i class="fas fa-times"></i>
                </span>
                <span class="text">Đã hủy</span>
            </div>
        }

        @if (Model.OrderStatus >= 2 && Model.OrderStatus != 4)
        {
            <div class="confirm step active">
                <span class="icon">
                    <i class="fa fa-check"></i>
                </span> <span class="text">Đã nhận</span>
            </div>
        }




        @if (Model.OrderStatus >= 2)
        {
            <div class="done step active">
                <span class="icon">
                    <i class="fa fa-user"></i>
                </span>
                <span class="text">Đã nhận</span>
            </div>
        }

    </div>

    <hr>
    <ul class="row order-detail" id="listOrderDetail">
        @foreach (var detail in Model.OrderDetails)
        {
            <li class="col-md-4">
                <figure class="itemside mb-3">
                    <div class="aside">
                        <img src="@detail.IdBookNavigation.Picture"
                             class="img-sm border">
                    </div>
                    <figcaption class="info align-self-center">
                        <p class="title" id="book-name">
                            @detail.IdBookNavigation.BookName <br>
                            <span class="text-muted" id="book-author"> @detail.IdBookNavigation.IdAuthorNavigation.AuthorName</span>
                        </p>
                        <span class="text-muted" id="book-price"> @(String.Format(CultureInfo.InvariantCulture, "{0:0,0}", detail.IdBookNavigation.Price)) VNĐ</span>
                        x <span class="text-muted" id="order-quantity"> @detail.Quantity</span>
                    </figcaption>
                </figure>
            </li>
        }

    </ul>
    <hr>
    <p class="text text-right">
        Thành tiền:
        <strong class="text-danger text-boild"> @(String.Format(CultureInfo.InvariantCulture, "{0:0,0}", Model.TotalPrice)) VNĐ</strong>
    </p>
    <hr>
    <a style="color: white;cursor: pointer;" class="btn btn-warning btn-close-from" data-dismiss="modal">
        <i class="fa fa-chevron-left"></i> Trở về
    </a>
</div>

